body {
    font-family: "Raleway", sans-serif;
}

.central-image {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 1000px;
}

@media (min-width: 768px) {
    .central-image{
        position: absolute;
        top: -16;
        left: 50%;
        transform: translateX(-60%);
        z-index: 10;
        max-width: 1000px;
    }
}

.background-wrapper {
    display: flex;
    height: 100vh;
}

.dark-side{
    background-color: var(--gray-fae);
    color: white;
}

.light-side {
    background-color: var(--yellow-fae);
    padding: 50px 12px;
    color: var(--gray-fae);
}

:root {
    --yellow-fae: #FFDA30;
    --gray-fae: #424033;
    --light-gray: #575549;
    --dark-gray: #27261D;
}

.title {
    font-size: 24px;
    white-space: nowrap;
    margin-bottom: auto;
    margin-top: -70px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        white-space: nowrap;
        margin-bottom: auto;
        margin-top: 0;
    }
}

.subtitle {
    font-size: 20px;
    align-self: flex-start;
}

.linha-embaixo {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.fae {
    font-size: 56px;
    font-weight: bold;
    margin-top: -40px;
    color: var(--yellow-fae)
}

.texto-direita{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -22px;
    line-height: 25px;
    margin-left: -10px;
}

.yellow-texts {
    color: var(--yellow-fae);
}

.white-line {
    box-shadow: 0px 0.5px 0px white;
    padding: 5px;
}

.links {
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    display: contents;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

.seta {
    color: var(--yellow-fae);
}

.box {
    position: relative;
    width: 100%;
    padding: 12px 40px;
    text-align: center;
}

.white-line.box .seta {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.simple-text {
    font-size: 12px;
    text-align: right !important;
}

.logo {
    width: 200px;
}

.box-logo {
    text-align: center;
}

.yellow-content {
    text-align: center;
}

.button {
    background-color: var(--gray-fae);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.text-gray {
    color: var(--gray-fae)
}

.image-mobile {
    position: absolute;
    top: 754px;
    left: 71%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 500px;
}

@media(min-width: 422px) {
    .image.mobile {
        position: absolute;
        top: 657px;
        left: 78%;
        transform: translateX(-50%);
        z-index: 10;
        max-width: 200px;
    }
}

.map-button{
    background-color: var(--light-gray);
    border-color: var(--yellow-fae);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 15px;
    margin-top: 16px;
}

.info {
    background-color: var(--light-gray);
    margin: 20px;
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    height: 104px;
    display: flex; /* Flexbox ativado */
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Ajuste vertical */
}

.info-left {
    background-color: var(--light-gray);
    margin: 20px;
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    height: 104px;
    display: flex; /* Flexbox ativado */
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Ajuste vertical */
}

@media (max-width: 768px) {
    .info {
        background-color: var(--light-gray);
        margin: 20px;
        border-radius: 5px;
        padding: 20px 30px;
        height: fit-content;
        align-items: normal;
    }

    .info-left {
        background-color: var(--light-gray);
        margin: 20px;
        border-radius: 5px;
        padding: 20px 30px;
        height: fit-content;
        align-items: normal;
    }
    
}

.number {
    font-family: Arial, Helvetica, sans-serif;
}

.info .contact-row {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre ícone e texto */
}
.contact-row img {
    width: 24px; /* Ajuste o tamanho conforme o necessário */
    height: auto;
}

.info-title {
    max-width: 100px;
    margin-right: 20px;
    line-height: 20px;
}

@media (max-width: 768px) {
    .info-text {
        margin-top: 20px;
        width: fit-content;
    }
}
 
@media(min-width: 768px) {
    .our-adress{
        text-align: -webkit-right;
        text-align-last: left;
    }
}