body {
    font-family: "Raleway", sans-serif;
}

.central-image {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 1000px;
}

@media (min-width: 768px) {
    .central-image{
        position: absolute;
        top: -16;
        left: 50%;
        transform: translateX(-60%);
        z-index: 10;
        max-width: 1000px;
    }
}

.background-wrapper {
    display: flex;
    height: 100vh;
}

.dark-side{
    background-color: var(--gray-fae);
    color: white;
    padding: 50px;
}

.light-side {
    background-color: var(--yellow-fae);
    padding: 50px;
    color: var(--gray-fae);
}

:root {
    --yellow-fae: #FFDA30;
    --gray-fae: #424033;
    --light-gray: #575549;
    --dark-gray: #27261D;
}

.title {
    font-size: 24px;
    white-space: nowrap;
}

.subtitle {
    font-size: 20px;
    align-self: flex-start;
}

.linha-embaixo {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.fae {
    font-size: 56px;
    font-weight: bold;
    margin-top: -40px;
    color: var(--yellow-fae)
}

.texto-direita{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -22px;
    line-height: 25px;
    margin-left: -10px;
}

.yellow-texts {
    color: var(--yellow-fae);
}

.white-line {
    box-shadow: 0px 0.5px 0px white;
    padding: 5px;
}

.links {
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

.seta {
    color: var(--yellow-fae);
}

.box {
    position: relative;
    width: 100%;
    padding: 12px 40px;
    text-align: center;
}

.white-line.box .seta {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.simple-text {
    font-size: 12px;
    text-align: right !important;
}

.logo {
    width: 200px;
}

.box-logo {
    text-align: center;
}

.yellow-content {
    text-align: center;
}

.button {
    background-color: var(--gray-fae);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.text-gray {
    color: var(--gray-fae)
}

.image-mobile {
    position: absolute;
    top: 754px;
    left: 71%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 500px;
}

.map-button{
    background-color: var(--light-gray);
    border-color: var(--yellow-fae);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 15px;
}

.info {
    background-color: var(--light-gray);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .info {
        background-color: var(--light-gray);
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
    }
}

