body {
    font-family:Arial, Helvetica, sans-serif;
}

/* imagem desktop*/

.image-desktop {
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-60%);
    z-index: 10;
    max-width: 350px;
}

@media(max-width: 1280px) {
    .image-desktop {
        display: none;
    }
}

/* imagem desktop*/

.left-side{
    background-color: var(--gray-fae);
    color: white;
}

.right-side {
    background-color: var(--yellow-fae);
    padding: 50px 12px;
    color: var(--gray-fae);
}

:root {
    --yellow-fae: #FFDA30;
    --gray-fae: #424033;
    --light-gray: #575549;
    --dark-gray: #27261D;
}

/* titulo */

.title {
    font-size: 24px;
    white-space: nowrap;
    margin-bottom: auto;
    margin-top: -70px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        white-space: nowrap;
        margin-bottom: auto;
        margin-top: 0;
    }
}

.title-line-below {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.title-fae {
    font-size: 56px;
    font-weight: bold;
    margin-top: -40px;
    color: var(--yellow-fae)
}

.title-right-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -22px;
    line-height: 25px;
    margin-left: -10px;
}

/* titulo */

.subtitle {
    font-size: 20px;
    align-self: flex-start;
}

.yellow-texts {
    color: var(--yellow-fae);
}

.white-line {
    box-shadow: 0px 0.5px 0px white;
    padding: 5px;
}

.links {
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: left;
    display: contents;
}

.content-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .content-left-side {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

.arrow {
    color: var(--yellow-fae);
}

.box-course {
    position: relative;
    width: 100%;
    padding: 12px 40px;
    text-align: center;
}

.white-line.box-course .arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.simple-text {
    font-size: 12px;
    text-align: right !important;
}

.logo {
    width: 200px;
}

.button {
    background-color: var(--gray-fae);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.text-gray {
    color: var(--gray-fae)
}

/* imagem mobile*/

.image-mobile {
    position: absolute;
    top: 754px;
    left: 71%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 500px;
}

@media (max-width: 765px) {
    .image-mobile {
      top: 484px;
      max-width: 243px;
    }
  }
  
  @media (max-width: 616px) {
    .image-mobile {
      top: 641px;
      max-width: 172px;
    }
  }
  
  @media (max-width: 603px) {
    .image-mobile {
      top: 655px;
      max-width: 177px;
    }
  }
  
  @media (max-width: 507px) {
    .image-mobile {
      top: 528px;
      max-width: 232px;
    }
  }
  
  @media (max-width: 470px) {
    .image-mobile {
      top: 599px;
      max-width: 194px;
    }
  }
  
  @media (max-width: 430px) {
    .image-mobile {
      top: 610px;
      max-width: 188px;
      left: 77%;
    }
  }
  
  @media (max-width: 428px) {
    .image-mobile {
      top: 665px;
      max-width: 172px;
    }
  }
  
  @media (max-width: 423px) {
    .image-mobile {
      top: 657px;
      max-width: 176px;
    }
  }
  
  @media (max-width: 421px) {
    .image-mobile {
      top: 657px;
      max-width: 176px;
    }
  }
  
  @media (max-width: 398px) {
    .image-mobile {
      top: 678px;
      max-width: 165px;
    }
  }
  
  @media (max-width: 390px) {
    .image-mobile {
      top: 682px;
      max-width: 163px;
      left: 77%;
    }
  }
  
  @media (max-width: 386px) {
    .image-mobile {
      top: 706px;
      max-width: 150px;
      left: 79%;
    }
  }
  
  @media (max-width: 374px) {
    .image-mobile {
      top: 700px;
      max-width: 153px;
    }
  }

  @media (max-width: 354px) {
    .image-mobile {
      display: none !important;
    }
  }


/* imagem mobile*/

/* informações */

.info-title {
    max-width: 100px;
    margin-right: 20px;
    line-height: 20px;
}

@media (max-width: 768px) {
    .info-text {
        margin-top: 20px;
        width: fit-content;
    }
}

.info-right {
    background-color: var(--light-gray);
    margin: 20px;
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    height: 104px;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}


.info-left {
    background-color: var(--light-gray);
    margin: 20px;
    border-radius: 5px;
    max-width: 450px;
    padding: 20px;
    height: 104px;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

@media(min-width: 768px) {
    .our-adress{
        text-align: -webkit-right;
        text-align-last: left;
    }
}

.map-button{
    background-color: var(--light-gray);
    border-color: var(--yellow-fae);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 15px;
    margin-top: 16px;
    width: 100px;
}

@media (max-width: 768px) {
    .info-right {
        background-color: var(--light-gray);
        margin: 20px;
        border-radius: 5px;
        padding: 20px 30px;
        height: fit-content;
        align-items: normal;
    }

    .info-left {
        background-color: var(--light-gray);
        margin: 20px;
        border-radius: 5px;
        padding: 20px 30px;
        height: fit-content;
        align-items: normal;
    }
    
}

/* informações */

.info-right .contact-row {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.contact-row img {
    width: 24px;
    height: auto;
}

.footer-mobile {
    color: white;
    font-size: 48px;
}

.footer-desktop {
    color: white;
    background-color: var(--dark-gray);
    font-size: 24px;
    height: 40px;
    padding-right: 12px;
}


